name: Utc App CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  id-token: write
  contents: read
env:
  env: 
  Python_version: 3.11
  IMAGE_NAME: portfolio
  AWS_REGION: us-east-1
  ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID}}
  ECR_REPO: ${{ secrets.ECR_REPO }}
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Unit tests
        run: pytest
      
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}
  

      - name: Build images
        run: docker build -t my-portfolio .
