name: Utc App and Deploy to S3 CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  python-version: "3.11"

jobs:
  build_job:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: unit test
        run: |
          pip install pytest 

      - name: Unit tests
        run: pytest || true

      - name: Build image
        run: docker build -t my-portfolio .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::977098999802:role/OIDC-ROLE
          aws-region: us-east-1

      - name: Upload to S3
        run: |
          aws s3 sync ./path/to/upload s3://my-bucket-gamela.shop/utc-app/ --delete